# Database connection string
DATABASE_URI=postgres://postgres:postgres@localhost:5432/your-sofia

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE_CHANGE_IN_PRODUCTION

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE_CHANGE_IN_PRODUCTION

# Used to validate preview requests
PREVIEW_SECRET=YOUR_PREVIEW_SECRET_HERE_CHANGE_IN_PRODUCTION

# Node environment (development, production)
NODE_ENV=development

# Server port
PORT=3000
